@CHARSET "UTF-8";

q {
    color: green;
}

body {
    font-family: verdana;
    color: maroon;
}

h1 {
    color: gray;
    border-bottom: 1px solid gray;
}

.en {
    font-family: georgia;
}

.ch {
    color: gray;
    font-family: 黑体;
}

