@CHARSET "UTF-8";

q {
    color: green;
}

body {
    font-family: arial;
    color: maroon;
}

h1 {
    color: gray;
    font-family: arial;
    border-bottom: 1px solid gray;
}

em {
    font-family: times;
}
